*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: red;
    height: 50vh;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}
.card{
background-color: blue;
cursor: pointer;
}
.hide{
    font-size: 0;
}